{% extends 'layout.html' %}


    {% block meta_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    {% endblock %}

{% block main_content %}
<main class="menu">
    <header class="cabecera-perfil">
        <center><h1>Consultar Proveedor</h1></center>
    </header>

    <form action="../../form-result.php" method="post" target="_blank">

    <div id="content">


		  		<div class="formulariocentral">
		    		
						<label for="id">ID</label>
				    	<input type="text" id="id" name="proveedor_id">

				    	<label for="nombreproveedor">Nombre:</label>
				    	<input type="text" id="nombreproveedor" name="nombre_proveedor">

				    	<label for="estado">Estado</label>
				    	<select name="estado_proveedor">
						  <option value="value1" selected>Activo</option> 
						  <option value="value2">Inactivo</option>
						</select>
						<div class="contenedor-botonañadir">
							<center><p><br><input type="submit" value="Buscar"></p></center>
						</div>
				
				</div>


	</form>
</main>


{% endblock %}
