{% extends 'layout.html' %}

{% block main_content %}
<main class="menu">
    <header class="cabecera-perfil">
        <h1>Perfil</h1>
    </header>
    <div class="contenedor-general">
        <div class="contenedor-interno">
            <h2>Gestionar productos</h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Familia_de_electrodom%C3%A9sticos_EVVO.jpg"
                alt="imagen electrodomesticos">
            <button><a href="{{ url_for('page.menu_producto') }}">Ver más</a></button>
        </div>

        <div class="contenedor-interno">
            <h2>Gestionar proveedores</h2>
            <img src="https://c.pxhere.com/photos/8a/e2/warehouse_storage_stock-917277.jpg!d"
                alt="imagen electrodomesticos">
            <button><a href="{{ url_for('page.menu_producto') }}">Ver más</a></button>
        </div>
    </div>
</main>


{% endblock %}