{% from 'helpers/_forms.html' import render_field %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Electrodomésticos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block meta_content %}
    {% endblock %}
</head>

<body>

    <div class="container-fluid">
        <header class="bg-orange">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="{{ url_for('page.index') }}">Electrodomésticos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link" type="button" href="{{ url_for('page.perfil') }}">{{ current_user.nombre }} {{ current_user.apellido }}<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" type="button" href="{{ url_for('page.logout') }}">Cerrar sesión<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" type="button" data-toggle="modal"
                                data-target="#modalRegistro">Registrarse<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" type="button" data-toggle="modal" data-target="#modalIngreso">Iniciar
                                Sesión</a>
                        </li>
                        {% endif %}
                </div>
            </nav>
        </header>

        <main>
        {% with messages = get_flashed_messages(with_categories=true)  %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="mensaje-info">
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block main_content %}
        {% endblock %}
        </main>

        <footer>
            <p>&copy;2020 Derechos reservados</p>
        </footer>
        
    </div>
    
    {% if not current_user.is_authenticated %}
    <!-- Modal Registro -->
    <div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="modalRegistroLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRegistroLabel">Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if register_form %}
                    <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        {{ render_field(register_form.honeypot) }}

                        <div class="form-group">
                            {{ render_field(register_form.nombre, class='form-control', placeholder='Nombre') }}
                        </div>
                        <div class="form-group">
                            {{ render_field(register_form.apellido, class='form-control', placeholder='Apellido') }}
                        </div>
                        <div class="form-group">
                            {{ render_field(register_form.correo, class='form-control', placeholder='Correo Electrónico') }}
                        </div>
                        <div class="form-group">
                            {{ render_field(register_form.password, class='form-control', placeholder='Contraseña') }}
                        </div>
                        <div class="form-group">
                            {{ render_field(register_form.confirm_password, class='form-control', placeholder='Confirmar contraseña') }}
                        </div>
    
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Registrarse">
                            <p>¿Ya tienes una cuenta? <a href="" data-dismiss="modal" data-toggle="modal"
                                    data-target="#modalIngreso">Inicia sesión</a></p>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Ingreso -->
    <div class="modal fade" id="modalIngreso" tabindex="-1" role="dialog" aria-labelledby="modalIngresoLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalIngresoLabel">Inicio sesión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if login_form %}
                    <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                        <div class="form-group">
                            {{ render_field(login_form.correo, class='form-control', placeholder='Correo Electrónico') }}
                        </div>
                        <div class="form-group">
                            {{ render_field(login_form.password, class='form-control', placeholder='Contraseña') }}
                        </div>
    
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Iniciar sesión">
                            <p>¿Olvidaste tu contraseña? <a href="" data-dismiss="modal" data-toggle="modal"
                                    data-target="#modalRecuperar">Recuperar contraseña</a></p>
                            <p>¿No tienes cuenta? <a href="" data-dismiss="modal" data-toggle="modal"
                                    data-target="#modalRegistro">Registrarse</a></p>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Recuperacion contraseña -->
    <div class="modal fade" id="modalRecuperar" tabindex="-1" role="dialog" aria-labelledby="modalRecuperarLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalRecuperarLabel">Recuperación de contraseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if recovery_form %}
                    <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                        <div class="form-group">
                            {{ render_field(recovery_form.correo, class='form-control', placeholder='Correo Electrónico') }}
                        </div>
    
                        <p>Se te enviará un correo con indicaciones para recuperar tu contraseña</p>
    
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Enviar">
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
    
</html>